# Backend (apps/api/.env.local)
SUPABASE_URL=h
SUPABASE_ANON_KEY=
GOOGLE_PLACES_API_KEY=

# Mobile (apps/mobile/.env)
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_API_URL=http://localhost:3000
