node_modules/
.next/
.expo/
dist/
out/
web-build/
build/
*.tsbuildinfo
next-env.d.ts
expo-env.d.ts
.DS_Store
*.pem
.env*
!.env.example
/ios
/android
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
.vercel
npm-debug.*
yarn-debug.*
yarn-error.*
.pnpm-debug.log*
